PAYMENT_LOG_ADDRESS=0xa786fEB386e44F13bE7bA33A1EEf28CCbcFb2Eef
FUJI_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
FUJI_EXPLORER_URL=https://testnet.snowtrace.io
DEEPSEEK_API_KEY=sk-your-deepseek-api-key
